@using Caristocrate.Common.Models
@model CustProfileModel.Response
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    ViewBag.BodyClass = "dashPages settingPage";
}

<section class="main_sec setting_sec">
    <div class="container">
        <h2 class="page-title text-center">Change Your Password</h2>
        <p class="page-info text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="formLogin" onsubmit="return ValidateForm()" enctype="multipart/form-data" method="post" action="@ViewData["APIURL"]">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="icon_field password">
                                <span class="icon-lock"></span>
                                <input id="txtOldPassword" type="password" required name="txtOldPassword" placeholder="Old Password">
                                <span class="icon-eye"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="icon_field password">
                                <span class="icon-lock"></span>
                                <input id="txtNewPassword" type="password" required name="txtNewPassword" placeholder="New Password">
                                <span class="icon-eye"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="icon_field password">
                                <span class="icon-lock"></span>
                                <input id="txtConfirmPassword" type="password" required name="txtConfirmPassword" placeholder="Confirm New Password">
                                <span class="icon-eye"></span>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="custBtn">Change Password</button>
                    @if (ViewData["Message"].ToString() != "")
                    {
                        <div class="password_success"><img src="@Url.Content("~/assets/images/check.png")" alt=""> Your Password has been changed.</div>
                    }

                </form>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    function ValidateForm() {
        var txtOldPassword = $("#txtOldPassword").val();
        var txtpassword = $("#txtNewPassword").val();
        var txtConfirmpassword = $("#txtConfirmPassword").val();

        if (txtOldPassword == txtpassword) {
            ShowAlert("Old Password and New Password should be different");
            return false;
        }
        else if (txtpassword != txtConfirmpassword) {
            ShowAlert("Password and Confirm Password should be same");
            return false;
        }
    }

</script>